                    <div class="span3">
                        <dl id="nav-left">
                            <dt class="active" ><a href="javascript:void(0)" id="dash"><i class="icon-th icon-white"></i> Dashboard <b class="icon-chevron-down"></b></a></dt>
                            <dd>
                                <ul>
                                    <li><a class="active"  href="[baseUri]/admin/"><i class="icon-home icon-white"></i> Home</a></li>
                                    <li><a target="_blank" href="[baseUri]/"><i class="icon-star icon-white"></i> Acessar Site</a></li>
                                    <li><a href="[baseUri]/admin/dashboard/itens/"><i class="icon-star icon-white"></i> Imóveis Mais Visitados</a></li>
                                </ul>
                            </dd>
                            <dt><a href="javascript:void(0)" id="m1"><i class="icon-filter icon-white"></i> Cidades <b class="icon-chevron-down"></b></a></dt>
                            <dd>
                                <ul>
                                    <li><a href="[baseUri]/admin/categoria/"><i class="icon-tag icon-white"></i> Gerenciar Cidades</a></li>
                                    <li><a href="[baseUri]/admin/subcategoria/"><i class="icon-tags icon-white"></i> Gerenciar Bairros</a></li>
                                </ul>
                            </dd>
                            <dt><a href="javascript:void(0)"><i class="icon-home icon-white"></i> Imóveis <b class="icon-chevron-down"></b></a></dt>
                            <dd>
                                <ul>
                                    <li><a href="[baseUri]/admin/item/novo/"><i class="icon-plus-sign icon-white"></i> Cadastrar Novo Imóvel</a></li>
                                    <li><a href="[baseUri]/admin/item/"><i class="icon-th-list icon-white"></i> Exibir Imóveis Cadastrados</a></li>
                                    <li><a href="[baseUri]/admin/item/busca/"><i class="icon-search icon-white"></i> Pesquisar Imóveis</a></li>
                                    <li><a href="[baseUri]/admin/item/posicao/"><i class="icon-move icon-white"></i> Alterar Posições de Destaque</a></li>
                                </ul>
                            </dd>
                            <dt><a href="javascript:void(0);"><i class="icon-user icon-white"></i> Proprietários  <b class="icon-chevron-down"></b></a></dt>                        
                            <dd>
                                <ul>
                                    <li><a href="[baseUri]/admin/proprietario/"><i class="icon-th-list icon-white"></i> Gerenciar Proprietários</a></li>
                                    <li><a href="[baseUri]/admin/proprietario/imoveis/"><i class="icon-th-list icon-white"></i> Proprietários x Imóveis</a></li>
                                </ul>
                            </dd>                               
                            
                            <dt class="[HideAccess]"><a href="javascript:void(0)"><i class="icon-folder-close icon-white"></i> Localização e Contato <b class="icon-chevron-down"></b></a></dt>
                            <dd class="[HideAccess]">
                                <ul>
                                    <li><a href="[baseUri]/admin/site/contato/"><i class="icon-th-list icon-white"></i> Editar Dados de Contato</a></li>
                                </ul>
                            </dd>
                            <dt class="[HideAccess]"><a href="javascript:void(0)"><i class="icon-wrench icon-white"></i> Configurações <b class="icon-chevron-down"></b></a></dt>
                            <dd class="[HideAccess]">
                                <ul>
                                    <li><a href="[baseUri]/admin/configuracao/"><i class="icon-cog icon-white"></i> Configurações Gerais</a></li>
                                    <li><a href="[baseUri]/admin/smtpc/"><i class="icon-envelope icon-white"></i> Configurações de E-mail</a></li>
                                    <li><a href="[baseUri]/admin/usuario/"><i class="icon-user icon-white"></i> Usuários do Sistema</a></li>
                                </ul>
                            </dd>
                        </dl>                       
                    </div> 